RimWorldOfMagic/.idea/.idea.RimWorldOfMagic/.idea/vcs.xml
RimWorldOfMagic/.idea/.idea.RimWorldOfMagic/.idea/indexLayout.xml
RimWorldOfMagic/.idea/.idea.RimWorldOfMagic/.idea/encodings.xml
RimWorldOfMagic/RimWorldOfMagic/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RimWorldOfMagic/RimWorldOfMagic/obj/Debug/RimWorldOfMagic.csproj.AssemblyReference.cache
RimWorldOfMagic/RimWorldOfMagic.sln.DotSettings.user
